.bbg {
  background-color: #188EAC;
}

.bbg2 {
  background-image: linear-gradient(to left, #00a8a8, #0087a8);
}

/* unvisited link */
a:link.wl {
  color: yellow;
}

/* visited link */
a:visited.wl {
  color: yellow;
}

/* mouse over link */
a:hover.wl {
  color: yellow;
}

/* selected link */
a:active.wl {
  color: yellow;
}
