.bbg {
  background-color: #188EAC;
}

.bbg2 {
  background-image: #ffffff);
}

/* unvisited link */
a:link.wl {
  color: purple;
}

/* visited link */
a:visited.wl {
  color: purple;
}

/* mouse over link */
a:hover.wl {
  color: purple;
}

/* selected link */
a:active.wl {
  color: purple;
}
